/* css file */

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #0b4d49   ;
    --secondary-color: #16929b ;
    --accent1-color: #9F7E69;
    --accent2-color: #A48E70;
  
    --heading-font: Merienda, Helvetica, serif;
    --paragraph-font: Mulish, Garamond, sans-serif;
}  

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: var(--heading-font);
}
p {
    margin: 0px;
    font-family: var(--paragraph-font);
    font-size: 15px;
}
a {
    font-family: var(--paragraph-font);
}


/* header */

header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid gray;
}
#logo_link {
    width: 100px;
    height: 100px;
    align-self: center;
    margin-left: 10px;
}
.logo {
    width: 100px;
}
h1 {
    color: #0b4d49;
    grid-column: 2/4;
    font-size: 30px;
    justify-content: space-around;
    align-content: space-around;
}
nav {
    grid-column: 5/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 120px;
}
nav a {
    color: var(--primary-color);
    font-size: 20px;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-decoration: none;
}


/* hero */

#hero {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 75px 75px 75px repeat(6, 1fr);
}
#hero_img_box {
    position: relative;
    grid-column: 2/7;
    grid-row: 2/5;
    z-index: -1;
    overflow: hidden;
}
#hero_img_layer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#hero_img {
    width: 1595px;
    z-index: -2;
}
#hero_text_box {
    background-color: var(--secondary-color);
    color: white;
    box-sizing: border-box;
    grid-column: 3/6;
    grid-row: 4/10;
    padding: 30px;
    justify-self: center;
    border: 1px solid gray;
}
#hero_header {
    text-align: center;
    margin-bottom: 20px;
}
#hero_text {
    text-align: center;
}


/* main */

main {
    background-color: var(--accent1-color);
    justify-items: center;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2fr 4fr 1fr 4fr 1fr;
}
main h2 {
    color: white;
    margin: 40px;
    grid-column: 1/8;
}
.slider_box {
    background-color: white;
    border: 1px solid gray;
    grid-column: 2/7;
    width: 100%;
    height: 241px;
    overflow: hidden;
}
.slider_box:nth-of-type(2) {
    grid-row: 4/5;
}
h3 {
    color: var(--primary-color);
    padding: 15px;
    height: 20px;
}
.slider {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}
.slider_item {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 330px;
    border: 1px solid gray;
}
.slider_link {
    margin: 0px 5px 10px 5px;
    box-sizing: border-box;
    text-decoration: none;
}
.slider_link:nth-of-type(1) {
    margin-left: 10px;
}
.slider_link:nth-last-of-type(1) {
    margin-right: 10px;
}
.slider_item div {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/5;
}
.slider_item:hover{
    background-color: aliceblue;
}
.slider_item div img {
    height: 175px;
    transition: transform .5s;
}
.slider_item:hover div img {
    transform: scale(1.1);
}
.slider_item h4 {
    color: var(--primary-color);
    font-size: 18px;
    justify-self: center;
    align-self: center;
}
.slider_item p {
    color: var(--primary-color);
    grid-row: 2/5;
    grid-column: 2/3;
    margin: 5px;
}

/* footer */

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: var(--secondary-color);
}
.social a {
    text-decoration: none;
}